<% @para1 = simple_format(@article.paragraph1) %>
<% @para2 = simple_format(@article.paragraph2) %>
<% @para3 = simple_format(@article.paragraph3) %>
<% @para4 = simple_format(@article.paragraph4) %>
<article id = "articlebox" itemscope itemtype="http://schema.org/Article">
<%= image_tag(@article.display_pic, id: "showdp", class: "showpic") %>

<h1 id = "title" itemprop="name"><%= @article.title %></h1>
<div itemprop="articleBody">
<section class = "articleparagraph">
<%= @para1 %>
</section>

<% if @article.pic1.attached? %>
<%= image_tag(@article.pic1, class: "showpic") %>
<% end %>

<section class = "articleparagraph">
<%= @para2 %>
</section>

<section class = "articleparagraph" %>
<%= @para3 %>
</section>

<% if @article.pic2.attached? %>
<%= image_tag(@article.pic2, class: "showpic") %>
<% end %>

<section class = "articleparagraph" %>
<%= @para4 %>
</section>
</div>
</article>